#body {
    position: relative;
    background: rgb(26 4 52);
    font-family: 'Lato', sans-serif;
}
section {
    position: relative;
}
.content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 104px;
    margin: 0;
    padding: 0;
}
#typed {
    color: #7678be;
    margin-left: 8px;
}

.icon-circle {
    width: 150px;
    height: 150px;
    background-color: #3D3C5557;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    transition-property: transform, padding-top, background-color;
    transition-duration: 0.5s;
}
.icon-circle:hover {
    text-decoration: none;
    border: 1px solid #8f62dfcc;
    box-shadow: 0px 0 8px #1254631f, 0px -2px 6px #643f7d87;
    background-color: #1e0632;
    cursor: pointer;
    transform: scale(1.08);
}
.icon-circle i {
    color: #7e41ea;
}
.icon-circle a {
    padding-top: 10px;
    color: #cf9be2;
}
.icon-circle:hover i {
    filter: brightness(1.95);
    transform: scale(1.3);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color: #6341ea;
}
.contacts-header {
    display: flex;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    background-color: black;
    background-image: linear-gradient(#190017 1px, transparent 1px), linear-gradient(90deg, #190017 1px, transparent 1px), linear-gradient(rgb(155 0 153 / 78%) 1px, transparent 1px), linear-gradient(90deg, rgb(155 0 153 / 78%) 1px, transparent 1px);
    background-size: 200px 200px, 200px 200px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    color: #a49bc4;
    border-bottom: 11px solid #281540;
    padding-bottom: 80px;
}
#contacts {
    background: rgb(26 4 52);
}
#contacts h1 {
    color: #9c6cbc;
}
.contacts-content p {
    color: #9a79b6;
    min-height: 28px;
    margin-top: 10px;
}
#skills {
    background: rgb(29, 0, 63);
}
#skills h2 {
    color: #b283e0;
    margin-bottom: 0;
    margin-left: 10px;
}
.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -25px;
}
.skills-title img {
    width: 55px;
}
.skill-bar {
    background-color: #41206b;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    color: #d5a1f9;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: right;
}
#employment {
    background: rgb(18, 1, 39);
}
#employment h2 {
    margin-top: -60px;
    margin-bottom: 60px;
}
#employment .employment-slider {
    display: flex;
    justify-content: center;
    cursor: grab;
    cursor: -webkit-grab;
    touch-action: pan-x;
}
#employment > .employment-slider > div {
    margin-top: 0 !important;
    margin-left: 60px;
}
.job-title {
    color: #c572ff;
    font-size: 14px;
    white-space: nowrap;
}

.company-name {
    color: #e1e0f7;
    font-size: 15px;
    white-space: nowrap;
}

.divider {
    background-color: #790de4;
    height: 1px;
    width: 80%;
    margin: 20px 0;
}

.date-range {
    color: #9b99c0;
    font-size: 14px;
}
.custom-arrow {
    background-color: #3F3C55;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.custom-prev-arrow,
.custom-next-arrow {
    margin-top: 0 !important;
}
.custom-next-arrow {
    padding-right: 20px;
}
.custom-prev-arrow {
    padding-left: 20px;
}
.custom-prev-arrow i,
.custom-next-arrow i {
    color: #be19ff;
    font-size: 2em;
}

.custom-arrow:hover {
    background-color: #4a2a6a;
}

.slick-prev.custom-arrow:before,
.slick-next.custom-arrow:before {
    content: "";
}
.custom-next-arrow.slick-arrow.slick-disabled {
    visibility: hidden !important;
}
.custom-prev-arrow.slick-arrow.slick-disabled {
    visibility: hidden !important;
}

.center {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    white-space: nowrap;
    margin-top: -33px;
}

.typed-cursor {
    display: inline;
    font-size: .6em !important;
    font-size: 48px;
    opacity: 1;
    animation: blink .7s infinite;
    color: #3726b2;
}
.typed-content {
    position: relative;
    margin-bottom: 30px;
}
.typed-cursor--blink {
    visibility: hidden;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#education h2, #employment h2, #interests h2 {
    color: #b283e0;
}
#education h2 i, #employment h2 i {
    color: #7958e5;
    margin-right: 10px;
    font-size: 36px;
}
#interests {
    position: relative;
    background: #060018;
}
#interests h2 {
    margin-bottom: 60px;
    margin-top: -40px;
}
#interests h2 i {
    margin-right: 10px;
    font-size: 36px;
}
.interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    padding: 28px 46px;
    color: #432a54;
    background: #22142b;
    border: 2px solid transparent;
}
.interest:hover {
    background: #754cb073;
    border: 2px solid #735aca;
}
.qualification {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: .9em;
}
.qual {
    display: flex;
    font-size: 1.2em;
    color: #ac94e5;
    line-height: 1.2em;
}
.qual span {
    font-size: .6em;
    margin-left: 10px;
    display: inline-block;
    background: #371559;
    border-radius: 20px;
    padding: 0 8px;
}
.institute {
    display: block;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 1.1em;
    color: #7858c4;
}
.dates {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 1.1em;
    color: #572eb7;
}
.interestlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px;
    transform: scale(.8);
}
.heart {
    color: #42288a;
    animation: pulse 1s infinite alternate;
    --heart-color-start: #42288a;
    --heart-color-end: #8563af;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        color: var(--heart-color-start);
    }
    100% {
        transform: scale(1.1);
        color: var(--heart-color-end);
    }
}
.interest img {
    width: 100px;
}
.interest p {
    font-size: 1em;
    color: #d5a1f9;
    text-align: center;
}
#toTop {
    display: flex;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    height: 33px;
    width: 33px;
    padding: 20px;
    border-radius: 40px;
    background: #200a36e3;
    color: #676caf;
    border: 1.5px solid #432a54;
    margin: 0 auto;
}
#toTop::before {
    content: '^';
    display: block;
    font-size: 1.7em;
    position: absolute;
    top: 3px;
    left: 12px;
    color: #d5a1f9;
    transform: scaleX(1.2);
}
#toTop:hover::before {
    color: #640d79;
}
#toTop:hover {
    background: #9387c1;
    border: 1px solid transparent;
}

/* CSS for the scroll-down arrow */
.scroll-down-link {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 51%;
    transform: translateX(-50%);
    animation: arrowBounce 2s infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}
.scroll-down-link i {
    position: absolute;
    bottom: 0;
    width: 24px;
    height: 24px;
    margin-left: -24px;
    border-left: 2px solid #8165a3;
    border-bottom: 2px solid #8165a3;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: arrowanim 1.5s infinite;
    animation: arrowanim 1.5s infinite;
    box-sizing: border-box;
    font-weight: normal;
}

@keyframes arrowBounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-10px);
}
60% {
    transform: translateY(-5px);
}
}


@media (min-width: 480px) {
    .interest p {
        font-size: 1.3em;
    }
}

@media all and (max-width: 1200px) {
    .skill-bar span {
        display: none;
    }
}
@media all and (min-width: 768px) and (max-width: 990px) {
    .skill-bar {
        font-size: .8em;
    }
}
@media all and (min-width: 370px) and (max-width: 768px) {
    .skills-container {
        padding-right: 7%;
        padding-left: 7%;
    }
}
@media all and (max-width: 370px) {
    .skills-container {
        padding-right: 3%;
        padding-left: 3%;
    }
}

@media all and (max-width: 768px) {
    .qualification {
        font-size: .8em;
    }
    .interestlist {
        grid-template-columns: 1fr 1fr;
        grid-gap: 22px;
    }
    .interest {
        padding: 18px;
        border-radius: 40px;
    }
    .interest p {
        font-size: .85em;
    }
    .interest img {
        width: 50px;
    }
    .contacts-content .grid {
        grid-gap: 10px;
    }
}
@media all and (max-width: 400px) {
    .icon-circle {
        width: 130px;
        height: 130px;
    }
}
@media all and (min-width: 400px) {
    .contacts-content .grid {
        grid-gap: 20px;
    }
}
@media all and (min-width: 768px) {
    .interest p {
        margin-top: 15px;
    }
    .icon-circle {
        width: 170px;
        height: 170px;
    }
}

@media all and (min-width: 1200px) {
    .contacts-content .grid {
        grid-gap: 30px;
    }
    .contacts-content p {
        margin-top: 18px;
    }
    .icon-circle i {
        font-size: 2.6em;
    }
}

@media all and (min-width: 768px) and (max-width: 768px) {
    .skills-container {
        width: 100% !important;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .scroll-down-link {
        left: 52%;
    }
}
@media all and (min-width: 400px) and (max-width: 600px) {
    .scroll-down-link {
        left: 52.7%;
    }
}
@media all and (max-width: 400px) {
    .scroll-down-link {
        left: 53.7%;
    }
}




/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: #620c71; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Set scrollbar width for Firefox */
    scrollbar-color: #620c71 #333; /* Thumb and track colors for Firefox */
}

/* Optionally, style the scrollbar thumb for Firefox */
*::-webkit-scrollbar-thumb {
    background: #6f2d9e; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background: #9b33bb; /* Color of the scrollbar thumb on hover */
}

#progressBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    z-index: 999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: rgb(117, 98, 179);
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,0,255,1) 46%, rgba(117,98,179,1) 100%);
}
#progressBar::-webkit-progress-bar {
    background-color: transparent;
}
#progressBar::-webkit-progress-value {
    background-color: rgb(117, 98, 179);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,0,255,1) 46%, rgba(117,98,179,1) 100%);
}
#progressBar::-moz-progress-bar {
    background-color: rgb(117, 98, 179);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,0,255,1) 46%, rgba(117,98,179,1) 100%);
}