/* ----------- HEADER: --------------- */

#titleSection {
	text-align: center;	
	margin-bottom: 40px;
	font-family: 'Nunito', sans-serif;
}

#titleSection h2{
    display: flex;
    justify-content: center;
	margin-bottom: 0px;
	color: #3b1759;
}

#titleSection a {
	margin-top: 0;
	margin-bottom: 15px;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
}

#subtitle {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

#subtitle img {
    border-radius: 90px;
    transform: scale(.7);
	max-height: 150px;
}

#followme {
    color: #d5af8f;
    line-height: 1.4;
    position: relative;
    display: block;
	margin-top: 30px;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
	align-self: center;
}

#followme::after {
    content: 'Follow me!!!!!';
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.4;
    display: block;
    color: #c48e5f;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s ease-out width;
}

#followme a {
    display: flex;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;   
    color: #3b1759;
}

#followme a:hover {
    color: #c48e5f;
}

#followme:hover:after {
    width: 120%;
}


/* ----------- IMAGE ITEMS: --------------- */

.instaItem {
    float: left;
    display: block;
    margin-right: 1.16%;
    width: 32%;
	margin-bottom: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

@media all and (min-width: 768px) {
	.instaItem {
		margin-left: .5%;
		margin-right: .5%;
		width: 24%;
		margin-bottom: 1%;
	}	
	#titleSection h2 {
		display: flex;
		justify-content: center;
		margin-bottom: 0px;
		font-size: 2em;
	}
}

.instaItem a {
    display: block;
    line-height: 0;
    font-size: 0;
}

.instaItem a::before {
    content: "";
    display: block;
    padding-top: 100%;
}


@media all and (max-width: 480px) {
	.instaItem {
		margin-left: 2%;
		margin-right: 2%;
		width: 46%;
	}
	#titleSection {
		font-size: .9em;
	}
	#titleSection h2 {
		margin-bottom: 0;
		line-height: 1.2em;
		padding: 0 40px;
	}
	#titleSection a {
		font-size: 1em;
	}
	#subtitle {
		margin-left: -15%;
	}
	#subtitle img {
		transform: scale(.5);	
		margin-right: -20px;
	}
	#followme {
		margin-top: 33px;
		font-size: 1.12em;
	}
}